/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: ;
    font-style: normal;
}

/* shared styles */
.orange {
    color: rgb(254, 163, 1);
}


body {
    margin: 0;
    margin-top: 20px;
}

@media screen and (max-width: 576px) {
    body {
        margin-top: 0;
    }
}




/* navbar related styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.title-container {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 62px;
    height: 62px;
    padding-right: 11px;
}

li>a {
    text-decoration: none;

}

.nav-link {
    list-style: none;
}

.link1 {
    color: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.link2 {
    color: rgb(1, 172, 253);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.link3 {
    color: rgb(5, 212, 223);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.link4 {
    color: rgb(93, 88, 239);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.nav-btn {
    width: 197px;
    height: 50px;
    padding: 10px 60px;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    font-family: Quicksand;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
    border: none;
}

.menu-bar {
    display: none;
}


@media screen and (max-width:576px) {

    .nav-links,
    .nav-btn {
        display: none;
    }

    .menu-bar {
        display: block;
        width: 50px;
        font-size: 40px;
    }

    .nav-container {
        border: 0.5px solid rgb(254, 163, 1);
    }

}










.banner {
    max-width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    gap: 50px;
}


#empowering {
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    color: rgb(254, 163, 1);
}

#students,
#age {
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    color: rgb(17, 17, 17);
}


#vision {
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    color: rgb(1, 172, 253);
}


.banner-description {
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.banner-btn {
    padding: .625rem 3rem;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    font-family: Quicksand;
}



@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column-reverse;
        margin: .5rem 1rem 1rem 1rem;
    }

    .banner-info-container {
        text-align: center;
    }

    .banner-img {
        width: 100%;
    }

    #empowering,
    #students,
    #age,
    #vision {
        font-size: 2rem;
        line-height: 40px;
    }

    .banner-description {
        font-size: 14px;
        font-weight: 500;
    }
}












.curriculum {
    background-image: url(../assets/bg.png);
    background-position: center;
    max-width: 1160px;
    /* display: flex; */
    margin: 130px auto;
    text-align: center;
}

.c-title {
    color: rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 700;
    padding: 60px 0 80px 0;
}

.curriculum-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.curriculum-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-card-1 {
    box-sizing: border-box;
    border: 1px solid rgb(222, 245, 255);
    border-radius: 18px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    position: relative;
    width: 367.8px;
    height: 476.78px;
}


.c-card-2 {
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    position: relative;
    width: 367.8px;
    height: 476.78px;
}


.c-card-3 {
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    position: relative;
    width: 367.8px;
    height: 476.78px;
}

.c-card-title {
    color: rgb(32, 32, 32);
    font-size: 24px;
    font-weight: 700;
    padding: 32px auto;
}

.c-card-description {
    color: rgb(128, 128, 128);
    /* font-family: Raleway; */
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 32px;
}

.c-card-link1,
.c-card-link2,
.c-card-link3 {
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.c-card-link1 {
    color: rgb(100, 200, 255);
}

.c-card-link2 {
    color: rgb(240, 170, 0);
}

.c-card-link3 {
    color: rgb(135, 0, 255);
}


/* .pre-next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
}

#previous,
#next {
    border: 1px solid orange;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: orange;
    font-weight: 900;
    font-size: 2rem;
    display: block flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
}*/


.pre-next-icon {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
}

.left:hover,
.right:hover {
    cursor: pointer;
    font-size: 70px;
}


/* .pre-next-icon:hover {
    cursor: pointer;
    font-size: 40px;
} */





@media screen and (max-width:576px) {
    .curriculum {
        margin: 80px auto;
    }

    .c-title {
        padding: 0;
        font-size: 26px;
        font-weight: 800;
    }

    .curriculum-card-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }

    .curriculum-card {
        width: 96%;
        padding: 36px 28px 36px 28px;
        margin: 10px auto;
    }


    /* #previous,
    #next {
        display: none;
    } */
    .pre-next-icon {
        display: none;
    }
}

















.stories {
    background: url(../assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    height: 1018px;
}

.story-title {
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    padding-bottom: 0;
}

.story-container {
    max-width: 1140px;
    /* height: 630px; */
    margin: 80px auto;
    display: flex;
    gap: 20px;
}



.main-story {
    max-width: 540px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.main-story img {
    border-radius: 16px 16px 0px 0px;
    background: url(), rgb(217, 217, 217);
    z-index: 5;
}



.ms {
    position: relative;
}


.main-story-date {
    z-index: 10;
    top: -24px;
    left: 44px;
    color: white;
    border-radius: 48px;
    height: 1rem;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: rgb(60, 216, 232);
    font-size: 15.34px;
    font-weight: 500;
}

.main-story-title p {
    font-size: 24px;
    font-weight: 700;
    width: 400px;
    margin-top: 10px;
    padding-bottom: 16px;
    padding-left: 44px;
}

.main-story-description {
    color: rgb(102, 102, 102);
    padding-left: 44px;
    padding-right: 30px;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
}







.sub-story {
    /* max-width: 601px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.sub-story1,
.sub-story2,
.sub-story3,
.sub-story4 {
    border-radius: 16px;
    background: rgb(255, 255, 255);
    height: 300px;
}

.sub-story1 img,
.sub-story2 img,
.sub-story3 img,
.sub-story4 img {
    border-radius: 16px 16px 0px 0px;
    background: url(), rgb(255, 255, 255);
}

.story-img,
.story-img1 {
    z-index: 5;
}

.ss,
.ss1 {
    position: relative;
}

.sub-story-date {
    z-index: 10;
    top: -24px;
    left: 40px;
    color: white;
    border-radius: 47.93px;
    height: 1rem;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: rgb(149, 178, 38);

    font-size: 15.34px;
    font-weight: 500;

}

.sub-story-date2 {
    z-index: 10;
    top: -24px;
    left: 40px;
    color: white;
    border-radius: 48px;
    width: 160px;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: rgb(93, 88, 240);

    font-size: 15.34px;
    font-weight: 500;

}

.sub-story-description {
    top: -50px;
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 15.34px;
    font-weight: 700;
    line-height: 28.76px;
    letter-spacing: 0%;

    padding-left: 30px;
    width: 213.99px;
    height: 57.52px;
    padding-top: 30px;
    padding-bottom: 20px;
}



.story-btn-container {
    text-align: center;
}

.story-btn a {
    text-decoration: none;
    color: white;
}

.story-btn {
    width: 197px;
    height: 50px;
    font-family: Quicksand;
    padding: 10px;
    margin: 45px 0px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
}







@media screen and (max-width: 576px) {
    .stories {
        margin: 0;
        height: 760px;
    }

    .main-story {
        display: none;
    }

    .sub-story {
        margin: 0 auto;
    }


    .sub-story1,
    .sub-story2,
    .sub-story3,
    .sub-story4 {
        width: 50%;
        position: relative;
        width: 173px;
        height: 200px;
    }

    .sub-story1 img,
    .sub-story2 img,
    .sub-story3 img,
    .sub-story4 img {
        width: 100%;

    }

    .sub-story-date,
    .sub-story-date2 {

        position: absolute;
        width: 103.91px;
        height: 12px;
        left: 22.83px;
        /* top: 88px; */
        border-radius: 28.54px;
        font-size: 10px;
        font-weight: 500;
        padding: 10px;
    }

    .sub-story-date {
        top: 90px;
    }

    .sub-story-date2 {
        top: 88px;
    }

    .no4 {
        top: 92px;
    }

    .sub-story-description {
        font-size: 11px;
        font-weight: 700;
        width: 107.92px;
        height: 28.54px;
        top: 2.85px;
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 14px;
    }


    .story-btn {
        margin: 0;
    }

}



















footer {
    background: rgb(1, 172, 253);
    height: 100%;
    width: 100%;

}

marquee {
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: rgb(211, 0, 0);
}


.footer {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    margin: 0px auto;
    justify-content: space-between;
    padding: 200px;
}

.footer-logo-container {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: 20px;
    margin-left: 0;
    color: white;

    /* background-color: white; */
}

.f-logo {
    /* background-color: white; */
    fill: white;
}

.footer-info {
    max-width: 400px;

}


.footer-title {
    color: white;
    font-size: 42.14px;
    font-weight: 700;
}

.footer-description {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.footer-links-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.footer-link {
    color: white;
    font-size: 20px;
    font-weight: 500;

}

.footer-media-title {
    color: white;
    font-size: 26px;
    font-weight: 700;
}


.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

footer a {
    text-decoration: none;
}

.footer-media-container .footer-media {
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
}

.footer-media {
    padding-bottom: 60px;
}














@media screen and (max-width: 576px) {
    .footer {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

}